body {
  margin: 0 auto;
}
#container {
  margin: 20px 0;
  padding: 10px;
}
.cells {
  float: left;
  background: black;
  width: 15px;
  height: 15px;
  outline: 1px solid red;
}
.snake {
  background: green;
}
.food {
  background: red;
}
