body {
  margin: 0 auto;
}
#container {
  margin: 20px 0;
  padding: 10px;
}

.box {
    margin: 0 auto;
    float:left;
    width:.7em;
    height:.7em;
    margin-right:5px;
    margin-bottom:5px;
    background-color: black;
}
